
.nektar-talep-container{
    width:600px;
    height: 1000px;
    border:solid 1px black;
}
.nektar-logo{
    height: 40px;
    width: 60px;
    float: left;
}
.nektar-header-container{
    width: 100%;
    height: 60px;
    float: left;
    color: white;
    background-color: #1d8bca;
}
.nektar-header-container > .nektar-header{
    width: 100%;
    height: 30px;
    font-size: 24px;
    float: left;
}
.nektar-header-container > .nektar-header-desc{
    width: 100%;
    height: 10px;
    font-size: 18px;
    float: left;
}
.calisan-bilgileri-container{
    width: 100%;
    height: auto;
    border: solid 1px black;
}
.nektar-topik{
    width: 100%;
    height: 10px;
    font-size: 18px;
}
.nektar-topik#hospital-name{
    color: red;
    float: left;
}
.nektar-topik #form-name{
    float: left;
}
.calisan-bilgileri-header{
    width: 100%;
    height: auto;
    text-align: center;
    border: solid 1px black;
}
.calisan-bilgileri-isegiris{
    width: 50%;
    height: 10px;
    text-align: left;
}
.calisan-bilgileri-isegiris > #lbl_form_basvuruturu{
    width: 80%;
    height: 10px;
    float: left;
    font-size: 14px;
}
.calisan-tetkiler-container{
    width: 100%;
    margin-top: 5px;
    border: none;
    height: auto;
}
.calisan-tetkikler-group-container{
    width: 50%;
    height: auto;
    float: left;
    padding-bottom: 5px;
}
.calisan-tetkikler-group-container > .group-tetkikler-label{
    height: 25px;
    width: 40%;
    float: left;
    border-left: solid apx black;
}
.calisan-tetkikler-group-container > .group-tetkikler-cevap{
    height: 25px;
    width: 10%;
    float: left;
    border-left: solid apx black;
    padding-right: 2px;
}
.kase-imza{
    width: 100%;
    height: 100px;
    border: solid 1px black;
}


/*
<div class="nektar-talep-container">

    <div class="calisan-tetkiler-container">
        <div class="calisan-tetkikler-group-container">
            <div class="group-tetkikler-label">
                AKCİĞER GRAFİSİ
            </div>
            <div class="group-tetkikler-cevap">
                <label id="lbl_grp_tetkikler_akcgrf"></label>
            </div>

            
            <div class="group-tetkikler-label">
                    SFT
                </div>
                <div class="group-tetkikler-cevap">
                    <label id="lbl_grp_tetkikler_sft"></label>
                </div>

                
            <div class="group-tetkikler-label">
                    ODİYOMETRİ
                </div>
                <div class="group-tetkikler-cevap">
                    <label id="lbl_grp_tetkikler_akcgrf"></label>
                </div>

                
            <div class="group-tetkikler-label">
                    HEMOGRAM
                </div>
                <div class="group-tetkikler-cevap">
                    <label id="lbl_grp_tetkikler_akcgrf"></label>
                </div>
        </div>
        <div class="calisan-tetkikler-group-container">
                <div class="group-tetkikler-label">
                    AKCİĞER GRAFİSİ
                </div>
                <div class="group-tetkikler-cevap">
                    <label id="lbl_grp_tetkikler_akcgrf"></label>
                </div>
    
                
                <div class="group-tetkikler-label">
                        SFT
                    </div>
                    <div class="group-tetkikler-cevap">
                        <label id="lbl_grp_tetkikler_sft"></label>
                    </div>
    
                    
                <div class="group-tetkikler-label">
                        ODİYOMETRİ
                    </div>
                    <div class="group-tetkikler-cevap">
                        <label id="lbl_grp_tetkikler_akcgrf"></label>
                    </div>
    
                    
                <div class="group-tetkikler-label">
                        HEMOGRAM
                    </div>
                    <div class="group-tetkikler-cevap">
                        <label id="lbl_grp_tetkikler_akcgrf"></label>
                    </div>
            </div>
            <div class="calisan-tetkikler-group-container">
                    <div class="group-tetkikler-label">
                        AKCİĞER GRAFİSİ
                    </div>
                    <div class="group-tetkikler-cevap">
                        <label id="lbl_grp_tetkikler_akcgrf"></label>
                    </div>
        
                    
                    <div class="group-tetkikler-label">
                            SFT
                        </div>
                        <div class="group-tetkikler-cevap">
                            <label id="lbl_grp_tetkikler_sft"></label>
                        </div>
        
                        
                    <div class="group-tetkikler-label">
                            ODİYOMETRİ
                        </div>
                        <div class="group-tetkikler-cevap">
                            <label id="lbl_grp_tetkikler_akcgrf"></label>
                        </div>
        
                        
                    <div class="group-tetkikler-label">
                            HEMOGRAM
                        </div>
                        <div class="group-tetkikler-cevap">
                            <label id="lbl_grp_tetkikler_akcgrf"></label>
                        </div>
                </div>
                <div class="calisan-tetkikler-group-container">
                        <div class="group-tetkikler-label">
                            AKCİĞER GRAFİSİ
                        </div>
                        <div class="group-tetkikler-cevap">
                            <label id="lbl_grp_tetkikler_akcgrf"></label>
                        </div>
            
                        
                        <div class="group-tetkikler-label">
                                SFT
                            </div>
                            <div class="group-tetkikler-cevap">
                                <label id="lbl_grp_tetkikler_sft"></label>
                            </div>
            
                            
                        <div class="group-tetkikler-label">
                                ODİYOMETRİ
                            </div>
                            <div class="group-tetkikler-cevap">
                                <label id="lbl_grp_tetkikler_akcgrf"></label>
                            </div>
            
                            
                        <div class="group-tetkikler-label">
                                HEMOGRAM
                            </div>
                            <div class="group-tetkikler-cevap">
                                <label id="lbl_grp_tetkikler_akcgrf"></label>
                            </div>
                    </div>
    </div>
    <div class="kase-imza">

    </div>
</div>
*/
